body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 15px auto;
    justify-content: flex-start;
}

.heading-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.heading-container hr {
    width: 150px;
    margin-right: 30px;
    margin-left: 30px;
    color: lightgray;
}

.back-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 9%;
}

.light-heading {
    font-size: 28px;
    font-weight: 400;
}

.function-icon {
    padding: 1px;
}

.function-icon .fa-arrow-left {
    font-size: 18px;
    margin-top: 25%;
}

.todo-card {
    margin: 30px auto;
    width: 21%;
    padding: 20px;
    height: 350px;
    /* border: 1px solid #e75b4c; */
    position: relative;
}

.todo-heading hr {
    width: 200%;
}

.todo-heading h2 {
    font-size: 26px;
    font-weight: 400;
}

.todo-card .task-container {
    align-self: auto;
    margin-left: 10px;
}

.todo-card .function-icon {
    position: absolute;
    bottom: 18px;
    right: 18px;
}