.body-container {
    filter: blur(7px);
}

.container {
    position: fixed;
    top: 37%;
    left: 0%;
    width: 100%;
}

.popup-container {
    display: flex;
    flex-direction: column;
    width: 22%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    transform: scale(1.1);
    overflow: hidden;
    align-items: center;
    border: 2px solid #e75b4c;
    background-color: white;
    border-radius: 8px;
    box-shadow: 8px 8px 12px 2px lightgray;
}

h3 {
    color: #e75b4c;
    font-weight: 400;
    text-shadow: 0px 0px 20px lightgray;
}

#input-list-item[type="text"] {
    border: 2px solid #e75b4c;
    height: 30px;
    border-radius: 5px;
    width: 75%;
    box-shadow: 1px 1px 3px 1px lightgray;
}

.btn-add-cta {
    text-transform: uppercase;
    background-color: #e75b4c;
    padding: 7px;
    font-size: 20px;
    width: 80px;
    margin-top: 18px;
    margin-bottom: 12px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup-container {
        width: 70%;
    }
    .popup-container,
    #input-list-item[type="text"] {
        border-width: 1px;
    }
}